@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");

// variable
$font-two: "Open Sans";

.section2 {
  background-color: #f7f7f7;
  &__block {
    content: "";
    width: 100%;
    height: 42px;
  }
  &__whiteblock {
    content: "";
    width: 100%;
    height: 42px;
  }
  &__greyblock {
    width: 10%;
    background-color: #f7f7f7;
  }

  &__1 {
    background-color: white;
    width: 85%;
    margin-bottom: 41px;
    border-radius: 5px;
  }

  &__2 {
    background-color: white;
    width: 85%;
    margin-bottom: 41px;
    border-radius: 5px;
  }
  &__3 {
    background-color: white;
    width: 85%;
    margin-bottom: 41px;
    border-radius: 5px;
    & img {
      border: 1px solid #e8e9ed;
      border-radius: 5px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.section2__1text {
  width: 85%;
  text-align: start;
  & h2 {
    padding-top: 175px;
    font-size: 30px;
    font-weight: 400;
  }
  & h5 {
    margin-top: 28px;
    font-size: 14px;
    font-family: $font-two;
    font-weight: 500;
  }
  &__line {
    display: none;
  }
}

.section2__2text {
  width: 85%;
  text-align: start;
  & h2 {
    font-size: 30px;
    font-weight: 400;
    margin-right: 5%;
    padding-top: 180px;
  }
  & h5 {
    margin-top: 28px;
    font-size: 14px;
    font-family: $font-two;
    font-weight: 500;
  }
  &__line {
    display: none;
  }
}
.section2__3 {
  display: flex;
  flex-direction: column;
}

.section2__3text {
  margin-bottom: 51px;
  width: 85%;
  text-align: start;
  & h2 {
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 80%;
    font-size: 30px;
    font-weight: 500;
  }
  & h3 {
    font-size: 14px;
    font-family: $font-two;
    font-weight: 400;
  }
  &__line {
    display: none;
  }
}

.section2__1imgs {
  position: relative;
}
.redrectangle {
  display: none;
}

.redcircle {
  position: absolute;
  width: 110px;
  top: 25px;
  left: 130px;
  z-index: 1;
}

.portatil {
  position: absolute;
  width: 190px;
  top: 50px;
  left: 45px;
  z-index: 2;
}
.section2__2imgs {
  position: relative;
}
.bluecircle {
  position: absolute;
  width: 130px;
  top: 10px;
  left: 80px;
  z-index: 1;
}

.phone {
  position: absolute;
  width: 180px;
  top: 20px;
  left: 80px;
  z-index: 2;
}
