@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");

// variable
$font-two: "Open Sans";
$blue: #08a6e4;

.section4 {
  width: 90%;
  text-align: start;
  margin-top: 80px;
  & img {
    width: 6%;
    margin-left: 0;
  }
  & h2 {
    font-size: 47px;
  }
  & label {
    font-size: 11px;
    font-weight: 900;
    color: $blue;
    letter-spacing: 3.38px;
  }
  & h5 {
    color: #a5a5a5;
  }
  & p {
    width: 85%;
    font-size: 12px;
    font-family: $font-two;
  }
  &__perks {
    padding: 10px 0;
    &__img {
      display: inline-block;
    }
    & #consent {
      display: inline-block;
      margin-top: 5px;
      vertical-align: top;
    }
    &__h5 {
      display: inline-block;
      margin-left: 10px;
      font-family: $font-two;
    }
  }
  &__form {
    margin-top: 55px;
  }
  & button {
    font-size: 15px;
    font-family: $font-two;
    font-weight: 700;
    height: 57px;
    width: 60%;
    max-width: 440px;
    color: white;
    background: $blue;
    border-radius: 40px;
    border-color: transparent;
    margin-top: 33px;
  }
}
#nameValue {
  display: block;
  margin-top: 20px;
  border-style: none;
  width: 100%;
}
#mail {
  display: block;
  margin-top: 20px;
  width: 100%;
  border-style: none;
}
.line {
  height: 1px;
  background: #95989a;
  margin: 10px 0;
}

#leave-mail {
  font-size: 18px;
  margin: 5px 0 38px 0;
}
#send {
  text-align: right;
}
