.slider-container {
  display: flex;
  align-items: center;
}

.left {
  width: 30px;
  transform: translateX(180%);
  cursor: pointer;
}
.right {
  width: 30px;
  transform: translateX(-180%);
  cursor: pointer;
}

.sliders {
  width: 90%;
}
#dots {
  position: absolute;
  display: flex;
  left: 40%;
  transform: translateY(480%);
  & span {
    height: 15px;
    width: 15px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 0 10px;
    cursor: pointer;
  }
  & span:hover {
    background: white;
  }
}

@media only screen and (min-width: 1218px) {
  .right {
    transform: translateX(-320%);
  }
  .left {
    transform: translateX(320%);
  }
}
