@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.section1 h1 {
  font-size: 35px;
  font-weight: 400;
}

.section1 h4 {
  margin-top: 20px;
  font-size: 16px;
  max-width: 60%;
  font-family: "Open Sans";
}

.section1 h2 {
  margin-top: 13px;
  font-weight: 500;
  max-width: 70%;
}

.section1 {
  background-color: white;
}
.section1__images {
  margin-top: 25px;
}
.section1__image1 {
  width: 30%;
}
.section1__image2and3 {
  width: 45%;
}
.section1 button {
  margin-top: 28px;
  margin-bottom: 51px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 85%;
  max-width: 440px;
  color: white;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  border-color: transparent;
}

#pcBig {
  display: none;
}

.section2 {
  background-color: #f7f7f7;
}
.section2__1 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__2 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__3 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__3 img {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
}

.section2__1text {
  margin-top: 26px;
  margin-bottom: 51px;
  width: 85%;
  text-align: start;
}

.section2__1text h2 {
  font-size: 30px;
  font-weight: 400;
}

.section2__1text h5 {
  margin-top: 28px;
  padding-bottom: 30px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
}

.section2__2text {
  margin-top: 26px;
  margin-bottom: 51px;
  width: 85%;
  text-align: start;
}

.section2__2text h2 {
  font-size: 30px;
  font-weight: 400;
  margin-right: 5%;
}

.section2__2text h5 {
  margin-top: 28px;
  padding-bottom: 30px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
}

.section2__3text {
  margin-top: 26px;
  margin-bottom: 51px;
  width: 85%;
  text-align: start;
}

.section2__3text h2 {
  margin-left: 0;
  padding-top: 30px;
  width: 80%;
  font-size: 30px;
  font-weight: 500;
}

.section2__3text h5 {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
}

.redcircle {
  position: relative;
  width: 35%;
  top: 90px;
  left: 50px;
  z-index: 1;
}

.portatil {
  position: relative;
  width: 65%;
  z-index: 2;
}

.bluecircle {
  position: relative;
  width: 36%;
  top: 110px;
  left: -20px;
  z-index: 1;
}

.phone {
  position: relative;
  width: 50%;
  z-index: 2;
}

.section3 h2 {
  margin-top: 36px;
  font-weight: 400;
}

.section3 h3 {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
}

.section3 h4 {
  font-size: 20px;
  font-weight: 700;
}

.section3 img {
  width: 5%;
}

.section3__perks {
  padding: 10px 0;
}
.section3__perks__img {
  display: inline-block;
}
.section3__perks__h5 {
  display: inline-block;
  margin-left: 10px;
  font-family: "Open Sans";
}
.section3__basic {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #fb3b64;
  border-radius: 18px;
}
.section3__basic__h3 {
  color: #fb3b64;
}
.section3__basic__price {
  display: inline-block;
}
.section3__basic__conditions {
  display: inline-block;
  text-align: start;
  padding: 10px 0 40px 0;
  margin-left: 25px;
}
.section3__basic button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #fb3b64;
  border-radius: 40px;
  border-color: transparent;
}
.section3__professional {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #07ace6;
  border-radius: 18px;
}
.section3__professional__h3 {
  color: #07ace6;
}
.section3__professional button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #07ace6;
  border-radius: 40px;
  border-color: transparent;
}
.section3__premium {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #55dfb4;
  border-radius: 18px;
}
.section3__premium__h3 {
  color: #55dfb4;
}
.section3__premium button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #55dfb4;
  border-radius: 40px;
  border-color: transparent;
}

.section4 {
  width: 90%;
  text-align: start;
}
.section4 img {
  width: 6%;
}
.section4 h2 {
  font-size: 47px;
}
.section4 h4 {
  font-size: 11px;
  font-weight: 900;
}
.section4 h5 {
  color: #a5a5a5;
}
.section4 p {
  width: 85%;
  font-size: 12px;
  font-family: "Open Sans";
}
.section4__h4 {
  color: #08a6e4;
  font-family: "Open Sans";
  line-height: 15px;
  letter-spacing: 4px;
}
.section4__form {
  margin-top: 55px;
}
.section4 button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #08a6e4;
  border-radius: 40px;
  border-color: transparent;
  margin-top: 33px;
}

.line {
  height: 1px;
  background: #95989a;
  margin: 40px 0;
}

#leave-mail {
  font-size: 18px;
  margin: 5px 0 38px 0;
}

#send {
  text-align: right;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0px -5px 40px rgba(104, 104, 104, 0.2);
}
.footer h1 {
  color: #08a6e4;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}
.footer h5 {
  color: #a5a5a5;
  font-weight: 500;
}
.footer__letters {
  display: inline-block;
  margin-left: 17px;
  margin-right: 62px;
}
.footer__icons {
  display: inline-block;
  width: 20%;
}
.footer__icons img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media only screen and (min-width: 481px) {
  .section1 h2 {
    font-size: 36x;
  }
  .section1__image1 {
    max-width: 12%;
  }
  .section1__image2and3 {
    max-width: 18%;
  }
  .section1__images {
    display: flex;
    flex-direction: row;
    padding: 4% 10%;
  }
  #pc {
    display: none;
  }
  #pcBig {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway";
}

body {
  min-width: 320px;
}

header {
  width: 100%;
  padding-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  z-index: 3;
  background-color: white;
}

.nav {
  margin-top: 17px;
  margin-left: 25px;
}
.nav__name {
  display: inline-block;
  width: 85%;
  color: #08a6e4;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}
.nav__menu {
  width: 10%;
  display: inline-block;
}
.nav__menu__input {
  display: none;
}

input {
  display: none;
  cursor: pointer;
}

input + label {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 20px;
  background: url("./assets/burguer.png") no-repeat;
  background-size: 20px;
}

input:checked + label {
  height: 20px;
  width: 20px;
  background-image: url("./assets/blueCross.png");
  background-size: 20px;
}

.nav__links {
  display: none;
}

input:checked + .nav__links {
  display: block;
  background: white;
  width: 100vw;
}

main {
  text-align: center;
  position: relative;
  top: 140px;
}

img {
  width: 100%;
}

footer {
  position: relative;
  top: 180px;
}/*# sourceMappingURL=styles.css.map */