@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.section1 h1 {
  font-size: 35px;
  font-weight: 500;
}

.section1 h4 {
  margin-top: 20px;
  font-size: 16px;
  max-width: 60%;
  font-family: "Open Sans";
}

.section1 h2 {
  margin-top: 13px;
  font-weight: 500;
  max-width: 70%;
}

.section1 {
  background-color: white;
  padding-top: 120px;
}
.section1__images {
  margin-top: 25px;
}
.section1__image1 {
  width: 30%;
}
.section1__image2and3 {
  margin-top: 25px;
  width: 45%;
}
.section1 button {
  margin-top: 28px;
  margin-bottom: 51px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 85%;
  max-width: 440px;
  color: white;
  background: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  border-color: transparent;
}

#pcBig {
  display: none;
}

.section2 {
  background-color: #f7f7f7;
}
.section2__block {
  content: "";
  width: 100%;
  height: 42px;
}
.section2__whiteblock {
  content: "";
  width: 100%;
  height: 42px;
}
.section2__greyblock {
  width: 10%;
  background-color: #f7f7f7;
}
.section2__1 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__2 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__3 {
  background-color: white;
  width: 85%;
  margin-bottom: 41px;
  border-radius: 5px;
}
.section2__3 img {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section2__1text {
  width: 85%;
  text-align: start;
}
.section2__1text h2 {
  padding-top: 175px;
  font-size: 30px;
  font-weight: 400;
}
.section2__1text h5 {
  margin-top: 28px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
}
.section2__1text__line {
  display: none;
}

.section2__2text {
  width: 85%;
  text-align: start;
}
.section2__2text h2 {
  font-size: 30px;
  font-weight: 400;
  margin-right: 5%;
  padding-top: 180px;
}
.section2__2text h5 {
  margin-top: 28px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
}
.section2__2text__line {
  display: none;
}

.section2__3 {
  display: flex;
  flex-direction: column;
}

.section2__3text {
  margin-bottom: 51px;
  width: 85%;
  text-align: start;
}
.section2__3text h2 {
  margin-left: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 80%;
  font-size: 30px;
  font-weight: 500;
}
.section2__3text h5 {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
}
.section2__3text__line {
  display: none;
}

.section2__1imgs {
  position: relative;
}

.redrectangle {
  display: none;
}

.redcircle {
  position: absolute;
  width: 110px;
  top: 25px;
  left: 130px;
  z-index: 1;
}

.portatil {
  position: absolute;
  width: 190px;
  top: 50px;
  left: 45px;
  z-index: 2;
}

.section2__2imgs {
  position: relative;
}

.bluecircle {
  position: absolute;
  width: 130px;
  top: 10px;
  left: 80px;
  z-index: 1;
}

.phone {
  position: absolute;
  width: 180px;
  top: 20px;
  left: 80px;
  z-index: 2;
}

.section3 h2 {
  margin-top: 36px;
  font-weight: 400;
}

.section3 h3 {
  font-size: 46px;
  font-weight: 300;
  font-family: "Open Sans";
}

.section3 h4 {
  font-size: 20px;
  font-weight: 700;
}

.section3 img {
  width: 5%;
}

.section3__perks {
  padding: 10px 0;
}
.section3__perks__img {
  display: inline-block;
}
.section3__perks__h5 {
  display: inline-block;
  margin-left: 10px;
  font-family: "Open Sans";
}
.section3__basic {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #fb3b64;
  border-radius: 18px;
}
.section3__basic__h3 {
  color: #fb3b64;
}
.section3__basic__price {
  margin-top: 70px;
  display: inline-block;
  vertical-align: top;
}
.section3__basic__conditions {
  display: inline-block;
  text-align: start;
  padding: 10px 0 0px 0;
  margin-left: 25px;
}
.section3__basic button {
  position: relative;
  top: 30px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #fb3b64;
  border-radius: 40px;
  border-color: transparent;
}
.section3__basic:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 5px 20px #fb3b64;
}
.section3__professional {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #07ace6;
  border-radius: 18px;
}
.section3__professional__h3 {
  color: #07ace6;
}
.section3__professional button {
  position: relative;
  top: 30px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #07ace6;
  border-radius: 40px;
  border-color: transparent;
}
.section3__professional:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 5px 20px #07ace6;
}
.section3__premium {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #55dfb4;
  border-radius: 18px;
}
.section3__premium__h3 {
  color: #55dfb4;
}
.section3__premium button {
  position: relative;
  top: 30px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #55dfb4;
  border-radius: 40px;
  border-color: transparent;
}
.section3__premium:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 5px 20px #55dfb4;
}

.section4 {
  width: 90%;
  text-align: start;
  margin-top: 80px;
}
.section4 img {
  width: 6%;
  margin-left: 0;
}
.section4 h2 {
  font-size: 47px;
}
.section4 label {
  font-size: 11px;
  font-weight: 900;
  color: #08a6e4;
  letter-spacing: 3.38px;
}
.section4 h5 {
  color: #a5a5a5;
}
.section4 p {
  width: 85%;
  font-size: 12px;
  font-family: "Open Sans";
}
.section4__perks {
  padding: 10px 0;
}
.section4__perks__img {
  display: inline-block;
}
.section4__perks__h5 {
  display: inline-block;
  margin-left: 10px;
  font-family: "Open Sans";
}
.section4__form {
  margin-top: 55px;
}
.section4 button {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  height: 57px;
  width: 60%;
  max-width: 440px;
  color: white;
  background: #08a6e4;
  border-radius: 40px;
  border-color: transparent;
  margin-top: 33px;
}

#nameValue {
  display: block;
  margin-top: 20px;
  border-style: none;
  width: 100%;
}

#mail {
  display: block;
  margin-top: 20px;
  width: 100%;
  border-style: none;
}

.line {
  height: 1px;
  background: #95989a;
  margin: 10px 0;
}

#consent {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}

#leave-mail {
  font-size: 18px;
  margin: 5px 0 38px 0;
}

#send {
  text-align: right;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0px -5px 40px rgba(104, 104, 104, 0.2);
}
.footer h1 {
  color: #08a6e4;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}
.footer h5 {
  padding-top: 10px;
  color: #a5a5a5;
  font-weight: 500;
}
.footer__letters {
  display: inline-block;
  margin-left: 17px;
  width: 60%;
}
.footer__icons {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.footer__icons img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 481px) {
  #pc {
    display: none;
  }
  #pcBig {
    display: block;
  }
}
@media only screen and (min-width: 690px) {
  .section3__options {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    padding: 0 30px;
  }
  .section3__basic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
  }
  .section3__basic__price {
    margin-top: 0;
  }
  .section3__basic__conditions {
    margin: 10px 0;
    text-align: center;
  }
  .section3__professional {
    display: flex;
    flex-direction: column;
    margin: 40px 30px;
    justify-content: space-between;
    padding-top: 30px;
  }
  .section3__premium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
  }
}
@media only screen and (min-width: 862px) {
  .section1 h2 {
    font-size: 36x;
  }
  .section1__image1 {
    max-width: 12%;
  }
  .section1__image2and3 {
    margin-top: 0;
    max-width: 18%;
  }
  .section1__images {
    display: flex;
    flex-direction: row;
    padding: 4% 10%;
  }
  .section2__block {
    content: "";
    width: 100%;
    height: 105px;
  }
  .section2__whiteblock {
    height: 70px;
  }
  .section2__1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .section2__1text {
    margin-top: 51px;
    margin-left: 35px;
    width: 45%;
    max-width: 35%;
  }
  .section2__1text h2 {
    font-size: 36px;
    padding-top: 1px;
  }
  .section2__1text h5 {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .section2__1text__line {
    display: block;
    height: 3px;
    background: #fb3b64;
    width: 70%;
    margin-left: 0;
  }
  .section2__1imgs {
    margin-bottom: 40px;
  }
  .redrectangle {
    position: absolute;
    width: 160px;
    top: 20px;
    left: -70px;
    display: block;
  }
  .redcircle {
    display: none;
  }
  .portatil {
    position: absolute;
    width: 280px;
    top: 70px;
    left: -210px;
  }
  .section2__2 {
    display: flex;
    flex-direction: row;
  }
  .section2__2text {
    margin-top: 31px;
    margin-left: 35px;
    margin-right: 20px;
    width: 45%;
  }
  .section2__2text h2 {
    font-size: 36px;
    padding-top: 0px;
  }
  .section2__2text h5 {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .section2__2text__line {
    display: block;
    height: 3px;
    background: #08a6e4;
    width: 70%;
    margin-left: 0;
  }
  .bluecircle {
    width: 210px;
    left: -150px;
  }
  .phone {
    width: 280px;
    bottom: 80px;
    left: -150px;
  }
  .section2__3text {
    margin-top: 0;
    margin-left: 35px;
    margin-right: 30px;
    width: 45%;
  }
  .section2__3text h2 {
    font-size: 36px;
  }
  .section2__3text h5 {
    font-size: 16px;
  }
  .section2__3text__line {
    display: block;
    height: 3px;
    background: #55dfb4;
    width: 70%;
    margin-left: 0;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1218px) {
  .section2__3 {
    display: flex;
    flex-direction: row;
  }
  .section4 {
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  .section4 img {
    min-width: 30px;
    width: 15%;
  }
  .section4__anyquestions {
    width: 90%;
  }
  .section4__form {
    width: 100%;
    margin: 0 0 0 80px;
  }
  .section4__perks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0;
  }
  #leave-mail {
    margin: 35px 0 38px 0;
  }
  #consent {
    width: 5%;
  }
  .footer__letters {
    margin-left: 10%;
    width: 50%;
  }
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid #08a6e4;
  border-radius: 10px;
  z-index: 9;
  background-color: whitesmoke;
  width: 350px;
  height: 150px;
}

#modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#modal-head {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-head h3 {
  margin: 6px 0 0 15px;
}

#closeModal {
  cursor: pointer;
  margin: 0 15px 0 0;
  border: none;
  background: none;
  font-size: 40px;
  font-weight: bold;
}

#modal-form {
  display: flex;
  align-items: center;
  height: 100px;
}
#modal-form input {
  display: block;
}
#modal-form button {
  color: white;
  background: #08a6e4;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 40px;
  border-color: transparent;
  font-size: 15px;
}

#overlay {
  position: fixed;
  z-index: 4;
  opacity: 0;
  transition: 200ms ease-in-out;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (min-width: 605px) {
  #modal {
    width: 450px;
    height: 250px;
  }
  #modal-form {
    height: 200px;
  }
}
.slider-container {
  display: flex;
  position: relative;
  width: 90%;
}

.left {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 20px;
  cursor: pointer;
}

.right {
  position: absolute;
  width: 30px;
  right: 20px;
  top: 50%;
  cursor: pointer;
}

.sliders {
  width: 100%;
}

#dots {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
#dots span {
  height: 15px;
  width: 15px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}
#dots span:hover {
  background: white;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway";
}

body {
  min-width: 320px;
}

header {
  width: 100%;
  padding-bottom: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  background-color: white;
  z-index: 3;
}

.nav {
  margin-top: 15px;
}
.nav__name {
  display: inline-block;
  width: 85%;
  color: #08a6e4;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  padding-left: 20px;
}
.nav__menu {
  width: 10%;
  position: relative;
  display: inline-block;
  text-align: right;
}
.nav__menu__input {
  display: none;
}

.nav__links {
  position: fixed;
  padding-bottom: 10px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.29);
  top: 60px;
  left: -110%;
  width: 100%;
  background: white;
  z-index: 5;
}
.nav__links li {
  list-style-type: none;
  text-align: left;
  padding-left: 20px;
}
.nav__links a {
  color: #a5a5a5;
  text-decoration: none;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 3.28px;
}
.nav__links a:hover {
  color: black;
}

.nav__links.active {
  left: 0;
}

input {
  display: none;
  cursor: pointer;
}

input + .nav__icon {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 20px;
  background: url("./assets/burguer.png") no-repeat;
  background-size: 20px;
}

input:checked + .nav__icon {
  height: 20px;
  width: 20px;
  background-image: url("./assets/blueCross.png");
  background-size: 20px;
}

.progress__bar__colored {
  position: absolute;
  height: 5px;
  width: 0%;
  top: 100%;
  background-color: #08a6e4;
}

.upButton {
  cursor: pointer;
  margin-top: 50px;
  padding: 6px 14px;
  border-radius: 56px;
  border: none;
  color: #fff;
  background: #08a6e4;
}

main {
  text-align: center;
}

img {
  width: 100%;
}

footer {
  position: relative;
  top: 50px;
}

@media only screen and (min-width: 815px) {
  .nav {
    margin-left: 0;
    display: flex;
    align-items: baseline;
    width: 100%;
  }
  .nav__name {
    margin-left: 20px;
    width: 50%;
  }
  .nav__menu {
    display: block;
    width: 100%;
  }
  input + .nav__icon {
    display: none;
  }
  .nav__links {
    position: relative;
    display: flex;
    box-shadow: none;
    font-family: "Open Sans";
    font-weight: 800;
    left: 0px;
    top: -10px;
  }
  .nav__links li {
    display: inline-block;
  }
  .nav__links li a {
    color: #a5a5a5;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 3.28px;
  }
  .nav__links li a:hover {
    color: black;
    -webkit-text-decoration: underline #08a6e4;
            text-decoration: underline #08a6e4;
    text-decoration-thickness: 3px;
    text-underline-offset: 30px;
  }
}/*# sourceMappingURL=styles.css.map */